@import '../../dist/styles.css';

.h1 {
    margin: var(--unit) 0;
    line-height: 200%;
    font-weight: 700;
    font-size: var(--fz-xl);
}

.h2 {
    margin-bottom: var(--unit);
    font-weight: 700;
    font-size: var(--fz-lg);
}

.h3 {
    margin-bottom: calc(2 * var(--unit));
    font-weight: 600;
    font-size: var(--fz-m);
}
