@import '../../dist/styles.css';

.section {
    width: 100%;
    height: 100%;
}

.icon-container {
    width: calc(1.5 * var(--unit));
    height: calc(1.5 * var(--unit));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all;
}

.default-icon {
    background-color: var(--c-primary);
    color: var(--c-light);
}

.transparent-icon {
    background-color: transparent;
    color: var(--c-primary);
}

.soft-button:hover .transparent-icon {
    color: var(--c-light);
}

.button-container {
    min-width: calc(4 * var(--unit));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(0.5 * var(--unit)), 0;
    margin: calc(0.25 * var(--unit));
    border-radius: var(--unit);
    transition: .3s all;
    cursor: pointer;
}

.default-button {
    background-color: var(--empz);
    color: var(--c-light);
}

.soft-button {
    min-width: calc(7 * var(--unit));
    border: 1px solid;
    background-color: var(--c-light);
    color: var(--c-primary);
}

.soft-button:hover {
    background-color: var(--c-primary);
    color: var(--c-light);
}

.icon-button {
    border-radius: 100%;
}
